.footer {
  background: #070720;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}

.footer_nav {
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 40px;

    a {
      font-size: 15px;
      color: #b7b7b7;
      display: block;
      font-weight: 400;
    }
  }
}
