.header {
  background: #070720;
}

.header_logo {
  padding: 20px 0 17px;

  a {
    display: inline-block;
  }
}

.header_menu {
  text-align: center;

  ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 16px;

    a {
      font-size: 15px;
      color: #b7b7b7;
      display: block;
      font-weight: 700;
      -webkit-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      padding: 20px;
    }

    .dropdown {
      position: absolute;
      left: 0;
      top: 82px;
      width: 150px;
      background: #ffffff;
      text-align: left;
      padding: 5px 0;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s;

      li {
        display: block;
        margin-right: 0;

        a {
          font-size: 14px;
          color: #111;
          font-weight: 500;
          padding: 5px 20px;
        }
      }
    }
  }

  ul li:hover .dropdown {
    top: 62px;
    opacity: 1;
    visibility: visible;
  }

  ul li.active a {
    background: #e53637;
    color: #fff;
  }
}

.header_right {
  text-align: right;
  padding: 20px 0 15px;

  a {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    margin-right: 30px;
  }

  a:last-child {
    margin-right: 0;
  }
}
