.stats-icon {
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background-color: #000;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #ffffff;
    font-size: 1.7rem;
    width: 1.5rem;
  }
}

.stats-icon.purple {
  background-color: #9694ff;
}
