.table {
  thead th {
    vertical-align: middle;
  }

  .table:not(.table-borderless) thead th {
    border-bottom: 1px solid #dedede !important;
  }

  td {
    vertical-align: middle;
  }
}

.table.table-lg tr th,
.table.table-lg tr td {
  padding: 1.3rem;
}
