.block {
  padding-top: 100px;
  padding-bottom: 100px;
}

.anime {
  padding-bottom: 60px;
  padding-top: 80px;
}

.trending_anime, .popular_anime, .recent_anime, .live_anime {
  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 30px;

  h4, h5 {
    color: #ffffff;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    font-family: 'Oswald', sans-serif;
  }

  h4:after, h5:after {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    height: 32px;
    width: 4px;
    background: #e53637;
  }
}

.anime_item {
  margin-bottom: 30px;
}

.anime_item_text {
  padding-top: 20px;

  ul {
    margin-bottom: 10px;

    li {
      list-style: none;
      font-size: 10px;
      color: #ffffff;
      font-weight: 700;
      padding: 1px 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      display: inline-block;
    }
  }

  h5 a {
    color: #ffffff;
    line-height: 26px;
    font-weight: 700;
  }
}

.anime_item_bg {
  height: 325px;
  position: relative;
  border-radius: 5px;

  .comment {
    font-size: 13px;
    color: #ffffff;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}

.like {
  font-size: 13px;
  color: #ffffff;
  background: #3d3d3d;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.anime_sidebar {
  .anime_sidebar_view {
    position: relative;
    margin-bottom: 80px;

    .filter_anime {
      position: absolute;
      right: 0;
      top: -5px;

      li {
        list-style: none;
        font-size: 13px;
        color: #b7b7b7;
        display: inline-block;
        margin-right: 7px;
        cursor: pointer;
      }

      li.active {
        color: #ffffff;
      }
    }
  }
}

.anime_sidebar_view_item {
  height: 190px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;

  .like {
    top: 10px;
    bottom: auto;
  }

  h5 {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    padding: 0 30px 0 20px;

    a {
      color: #ffffff;
      font-weight: 700;
      line-height: 26px;
    }
  }
}

.anime_details {
  padding-top: 60px;
}

.anime_details_content {
  margin-bottom: 65px;
}

.anime_details_bg {
  height: 440px;
  border-radius: 5px;
  position: relative;

  .comment {
    font-size: 13px;
    color: #ffffff;
    background: #3d3d3d;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 25px;
  }
}

.anime_details_text {
  position: relative;

  p {
    color: #b7b7b7;
    font-size: 18px;
    line-height: 30px;
  }
}

.anime_details_title {
  margin-bottom: 20px;

  h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 13px;
  }

  span {
    font-size: 15px;
    color: #b7b7b7;
    display: block;
  }
}

.anime_details_rating {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;

  .rating svg {
    font-size: 24px;
    color: #e89f12;
    display: inline-block;
    width: 14px;
  }

  span {
    display: block;
    font-size: 18px;
    color: #b7b7b7;
  }
}

.anime_details_widget {
  margin-bottom: 15px;

  ul {
    margin-bottom: 20px;

    li {
      list-style: none;
      font-size: 15px;
      color: #ffffff;
      line-height: 30px;
      position: relative;
      padding-left: 18px;

      span {
        color: #b7b7b7;
        width: 115px;
        display: inline-block;
      }
    }

    li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      height: 6px;
      width: 6px;
      background: #b7b7b7;
    }
  }
}

.anime_details_btn {
  .add_list_btn {
    font-size: 13px;
    color: #ffffff;
    background: #e53637;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px;
    margin-right: 11px;

    svg {
      width: 15px;
      margin-bottom: 1px;
    }
  }
}

.anime_details_review {
  margin-bottom: 55px;
}

.anime_review_item {
  overflow: hidden;
  margin-bottom: 15px;
}

.anime_review_item_bg {
  float: left;
  margin-right: 20px;
  position: relative;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.anime_review_bg:before {
  content: '';
  position: absolute;
  right: -30px;
  top: 15px;
  border-top: 15px solid transparent;
  border-left: 15px solid #1d1e39;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.anime_review_item_text {
  overflow: hidden;
  background: #1d1e39;
  padding: 18px 30px 16px 20px;
  border-radius: 10px;

  h6 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;

    span {
      color: #b7b7b7;
      font-weight: 400;
    }
  }

  p {
    color: #b7b7b7;
    line-height: 23px;
    margin-bottom: 0;
  }
}

.anime_details_form {
  form {
    textarea {
      width: 100%;
      font-size: 15px;
      color: #b7b7b7;
      padding-left: 20px;
      padding-top: 12px;
      height: 110px;
      border: none;
      border-radius: 5px;
      resize: none;
      margin-bottom: 24px;
    }

    button {
      font-size: 11px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      background: #e53637;
      border: none;
      padding: 10px 15px;
      border-radius: 2px;

      svg {
        width: 8px;
      }
    }
  }
}

.anime_category_page {
  padding-top: 60px;
}

.anime_category_page_title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  margin-bottom: 30px;

  .section-title {
    margin-bottom: 0;
  }

  .anime_category_page_filter {
    text-align: right;

    p {
      color: #ffffff;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}

.anime_pagination {
  padding-top: 15px;

  a {
    display: inline-block;
    font-size: 15px;
    color: #b7b7b7;
    font-weight: 600;
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;

    svg {
      width: 10px;
      margin-bottom: 5px;
    }
  }

  a.current-page {
    border: 1px solid #ffffff;
  }
}

.anime_sidebar_comment_item {
  margin-bottom: 20px;
  overflow: hidden;
}

.anime_sidebar_comment_item_bg {
  float: left;
  margin-right: 15px;
}

.anime_category_comment_item_text {
  overflow: hidden;

  ul {
    margin-bottom: 10px;

    li {
      list-style: none;
      font-size: 10px;
      color: #ffffff;
      font-weight: 700;
      padding: 1px 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      display: inline-block;
    }
  }

  h5 {
    margin-bottom: 10px;

    a {
      color: #ffffff;
      font-weight: 700;
      line-height: 26px;
    }
  }
}
