.login {
  padding-top: 130px;
  padding-bottom: 120px;
}

.login_form {
  position: relative;
  padding-left: 145px;

  form {
    button {
      border-radius: 0;
      margin-top: 10px;
    }
  }

  h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
  }

  .forget_password {
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 60px;
    bottom: 12px;
  }

  h5 {
    font-size: 15px;
    color: #ffffff;
    margin-top: 36px;

    a {
      color: #e53637;
      font-weight: 700;
    }
  }
}

.login_form:after {
  content: '';
  position: absolute;
  right: -14px;
  top: -40px;
  height: 330px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .login_form {
    position: relative;
    padding-left: 32px;
  }
}

.login_register {
  padding-left: 30px;

  h3 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
  }

  .primary_btn {
    background: #e53637;
    padding: 12px 42px;
  }
}
