.hero {
  padding-top: 50px;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .hero {
    overflow: hidden;
  }
}

.hero_items {
  padding: 250px 0 42px 50px;
  border-radius: 5px;
}

.hero_text {
  position: relative;
  z-index: 8;

  .label {
    font-size: 13px;
    color: #e53637;
    background: #ffffff;
    padding: 5px 14px 3px;
    display: inline-block;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
  }

  h2 {
    color: #ffffff;
    font-size: 42px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-top: 35px;
    margin-bottom: 8px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
  }

  p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }

  a {
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
  }
}

.hero_slider.owl-carousel {
  .owl-nav button {
    font-size: 36px;
    height: 66px;
    width: 66px;
    background: #0b0c2a;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
    left: -33px;
    top: 50%;
    margin-top: -47px;
  }
}

.breadcrumb_option {
  padding-top: 35px;

  a {
    font-size: 15px;
    color: #ffffff;
    margin-right: 18px;
    display: inline-block;
    position: relative;

    svg {
      margin-right: 5px;
      color: #e53637;
      width: 14px;
    }
  }

  a:after {
    position: absolute;
    right: -14px;
    top: 0;
    content: ">";
    font-family: "FontAwesome", sans-serif;
  }

  span {
    font-size: 15px;
    color: #b7b7b7;
    display: inline-block;
  }
}

.breadcrumb_normal {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .breadcrumb_normal_text {
    h2 {
      color: #ffffff;
      font-size: 48px;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      margin-bottom: 22px;
    }

    p {
      color: #ffffff;
      font-size: 24px;
      margin-bottom: 0;
    }
  }
}
