.page_heading {
  margin: 0 0 2rem;

  h3 {
    font-weight: 700;
  }
}

.card {
  margin-bottom: 2.2rem;
  border: none;
  border-radius: .7rem !important;

  .card-header {
    border: none;
    background-color: #ffffff;
    padding: 1.25rem !important;

    h4 {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .card-body {
    padding: 1.5rem;
  }

  .card-content {
    position: relative;
  }
}

.float-start {
  float: left !important;
}

@media (min-width: 992px) {
  .float-lg-end {
    float: right !important;
  }
}

.breadcrumb {
  background-color: #f2f7ff !important;
}
