.btn_all {
  text-align: right;
  margin-bottom: 30px;
}

.primary_btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;

  span {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }
}

.btn_red {
  font-size: 13px;
  color: #ffffff;
  background: #e53637;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
}
