.input_item {
  position: relative;
  width: 370px;
  margin-bottom: 20px;

  input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    background: #ffffff;
    border: none;
    padding-left: 76px;
  }

  span {
    color: #b7b7b7;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
}

.input_item:before {
  content: '';
  position: absolute;
  left: 50px;
  top: 10px;
  height: 30px;
  width: 1px;
  background: #b7b7b7;
}

.form-group {
  margin-bottom: .7rem;

  label {
    color: rgba(35,28,99,.7);
    font-weight: 600;
  }
}

.form-floating {
  position: relative;
}
