// Layout
@import 'layout/header';
@import 'layout/footer';
// Component
@import 'component/image';
@import 'component/button';
@import 'component/form';
@import 'component/select';
// Element
@import 'element/body';
@import 'element/anime';
@import 'element/auth';

html, body {
  height: 100%;
  font-family: 'Mulish', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

body.dark-theme {
  background: #0b0c2a !important;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}

h2 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  color: #3d3d3d;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}

a:hover, a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ffffff;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
