// Layout
@import 'admin/layout/sidebar';
@import 'admin/layout/header';
// Element
@import 'admin/element/body';
// Component
@import 'admin/component/icon';
@import 'admin/component/text';
@import 'admin/component/table';
@import 'admin/component/form';

body.admin-theme {
  margin: 0;
  font-family: Nunito, sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607080;
  background-color: #f2f7ff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.admin-theme h6, body.admin-theme h4 {
  font-family: Nunito, sans-serif !important;
}

.py-4-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

#main {
  margin-left: 300px;
  padding: 2rem;
}
