.sidebar-wrapper {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow-y: auto;
  background-color: #ffffff;
  bottom: 0;
  transition: left .5s ease-out;


  .sidebar-header {
    padding: 2rem 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;

    .sidebar-header-logo img {
      height: 1.2rem;
    }
  }

  .sidebar-item {
    list-style: none;
    margin-top: .5rem;
    position: relative;
  }
}

#sidebar.active .sidebar-wrapper {
  left: 0;
}

.sidebar-menu {
  ul {
    margin-top: 2rem;
    padding: 0 2rem;
    font-weight: 600;

    .sidebar-title {
      padding: 0 1rem;
      margin: 1.5rem 0 1rem;
      font-size: 1rem;
      list-style: none;
      font-weight: 600;
      color: #25396f;
    }

    .sidebar-link {
      display: flex;
      padding: .7rem 1rem;
      font-size: 1rem;
      align-items: center;
      border-radius: .5rem;
      transition: all .5s;
      text-decoration: none;
      color: #25396f;

      i, svg {
        color: #7c8db5;
      }

      span {
        margin-left: 1rem;
      }
    }

    .sidebar-item.active .sidebar-link {
      background-color: #435ebe;

      i, svg {
        fill: #ffffff;
        color: #ffffff;
      }

      span {
        color: #ffffff;
      }
    }

    .sidebar-item.has-sub .sidebar-link:after {
      content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path stroke="gray" stroke-width="1" d="M6 9l6 6 6-6"/></svg>');
      position: absolute;
      color: #cccccc;
      right: 15px;
      top: 12px;
      display: block;
    }

    .submenu {
      list-style: none;
      margin-top: auto;
      display: none;
      transition: max-height 2s cubic-bezier(0,.55,.45,1);
      overflow: hidden;

      .submenu-item a {
        padding: .7rem 2rem;
        display: block;
        color: #25396f;
        font-size: .85rem;
        font-weight: 600;
        letter-spacing: .5px;
        transition: all .3s;
      }
    }
  }
}
